html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: rgb(255 214 234 / 75%);
  /* background-image: url("./background/chrismas.png"); */
  background-size: cover;
}

.iframe-container {
  display: flex;
  height: 100%;
  width: 100%;
}

iframe {
  border: none;
}